:root {
  --text-dark: black;
  --text-grey: #adbdcc;
  --text-light: white;

  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-accent: #0a2540;
  --primary-btn-hover: #6d7a88;

  --bg-white: white;
  --bg-light: #f7f9fc;

  --standard-shadow: 0rem 0.125rem 2.5rem rgba(0, 0, 0, 0.15);
  --standard-radius: 1.25rem;
  --primary-gradient: linear-gradient(
    101.33deg,
    #08209a 0.76%,
    #6563ff 33.33%,
    #36c5f0 76.92%,
    #83e2ff 96.96%
  );

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --standard-width: 71.5rem;

  --heading-font: "Anek Telugu", sans-serif;
  --body-font: "Roboto", sans-serif;

  --h1-size: 5.875rem;
  --h1-lheight: 6.75rem;
  --h2-size: 2.5rem;
  --h3-lheight: 4.6875rem;
  --h3-size: 3.125rem;
  --h4-size: 2rem;
  --h5-size: 1.75rem;
  --h6-size: 1.375rem;
  --h6-lheight: 2rem;
  --p-size: 1.125rem;
  --p-lheight: 1.625rem;
  --button-size: 1rem;

  --subtitle-size: 1.0625rem;
  --subtitle-lheight: 1.625rem;
  --secondary-text-size: 0.875rem;
  --secondary-text-lheight: 1.125rem;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  padding-top: var(--spacing-sm);
  width: 100%;

  color: var(--text-dark);
  font-family: var(--body-font);

  background-color: white;
}

header,
section,
footer {
  box-sizing: border-box;

  width: 100%;
  max-width: var(--standard-width);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

main {
  margin: var(--spacing-xl) 0 0 0;

  width: 100%;
}

footer {
  display: flex;
}

footer ul {
  padding: 0;

  list-style-type: none;
}

footer li {
  margin-bottom: var(--spacing-md);
}

footer a {
  color: black;
  font-weight: normal;
}

footer a:hover {
  color: var(--purple-1);
  text-decoration: underline;
}

footer .col {
  display: flex;
  flex-direction: column;

  width: 25%;
}

footer .icon-link {
  display: flex;
  align-items: center;

  margin: var(--spacing-sm) 0;
}

footer .icon-link img {
  margin-right: var(--spacing-sm);

  width: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: 100%;

  font-family: var(--heading-font);
}

h1 {
  font-size: var(--h1-size);
  font-weight: 600;
  letter-spacing: -0.0625rem;
  line-height: var(--h1-lheight);
}

h2 {
  font-size: var(--h2-size);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-size);
  font-weight: 500;
  letter-spacing: -0.0156rem;
  line-height: var(--h3-lheight);
}

h4 {
  font-size: var(--h4-size);
  font-weight: 500;
  letter-spacing: 0.0156rem;
}

h5 {
  font-size: var(--h5-size);
  font-weight: 500;
}

h6,
footer h3,
.card h3 {
  font-size: var(--h6-size);
  font-weight: 500;
  letter-spacing: -0.0156rem;
  line-height: var(--h6-lheight);
}

footer h3 {
  font-weight: 700;
}

p {
  margin: var(--spacing-md) 0;

  font-size: var(--p-size);
  font-weight: 400;
  line-height: var(--p-lheight);
}

a {
  color: var(--purple-1);
  text-decoration: none;
  font-weight: 500;

  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

button {
  border: none;

  font-family: var(--body-font);
  font-size: var(--button-size);
  font-weight: bold;
  letter-spacing: 0.0781rem;

  transition: color 0.15s ease;
}

button:hover {
  cursor: pointer;
}

.subtitle,
.subtitle2 {
  font-family: var(--heading-font);
  font-size: var(--subtitle-size);
  font-weight: 500;
  line-height: var(--subtitle-lheight);
}

.subtitle {
  color: var(--purple-1);
}

.subtitle2 {
  color: var(--blue-1);
}

.secondary-text {
  color: var(--text-grey);
  font-size: var(--secondary-text-size);
  letter-spacing: 0.0156rem;
  line-height: var(--secondary-text-lheight);
}

.filled-button {
  padding: var(--spacing-sm) var(--spacing-md);

  border-radius: var(--standard-radius);

  color: var(--text-light);
}

.navbar-button {
  background-color: rgba(250, 250, 250, 0.25);
}

.navbar-button:hover {
  background: rgba(250, 250, 250, 0.5);
}

.primary-button {
  background-color: var(--primary-accent);
}

.primary-button:hover {
  background-color: var(--primary-btn-hover);
}

.primary2-button {
  background-color: var(--purple-1);
}

.primary2-button:hover {
  background-color: var(--primary-accent);
}

.primary3-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
}

.primary3-button:hover {
  background-color: var(--bg-white);
}

.secondary-button,
.secondary2-button {
  background-color: transparent;
  padding: 0;
}

.secondary-button {
  color: var(--purple-2);
}

.secondary2-button {
  color: var(--blue-1);
}

.secondary-button:hover,
.secondary2-button:hover {
  opacity: 0.75;
}

.with-icon-blue,
.with-icon-dark,
.with-icon-light,
.with-icon-purple {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon-blue::after,
.with-icon-dark::after,
.with-icon-light::after,
.with-icon-purple::after {
  line-height: 0; /* Done to remove white space below pseudo-element. */

  transition: transform 0.25s ease;
}

.with-icon-blue:hover::after,
.with-icon-dark:hover::after,
.with-icon-light:hover::after,
.with-icon-purple:hover::after {
  transform: translateX(0.25rem);
}

.with-icon-blue::after {
  content: url("assets/arrow-right-blue.svg");
}

.with-icon-dark::after {
  content: url("assets/arrow-right-dark.svg");
}

.with-icon-light::after {
  content: url("assets/arrow-right-light.svg");
}

.with-icon-purple::after {
  content: url("assets/arrow-right-purple.svg");
}

.menu {
  display: flex;
  justify-content: center;

  list-style-type: none;
}

.menu > li {
  margin: 0 var(--spacing-md);
}

.menu > li > a {
  color: var(--text-light);
  font-weight: bold;
}

.menu > li:hover > a {
  text-decoration: underline;
}

.two-column {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  width: 100%;
}

.two-column > .col-left,
.two-column > .col-right {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 50%;
}

.two-column > .col-left {
  padding-right: var(--spacing-md);
}

.two-column > .col-left > button {
  align-self: flex-start;

  margin-top: var(--spacing-md);
}

.two-column > .col-right {
  padding-left: var(--spacing-md);
}

.card-container {
  display: flex;
  flex-direction: row;

  margin: var(--spacing-lg) 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;

  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card img {
  height: 3.125rem;
  margin-bottom: var(--spacing-sm);
}

.hero-wrapper,
.partners-wrapper,
.platform-wrapper,
.graphics-wrapper,
.engineers-wrapper,
.why-wrapper,
.global-wrapper,
.events-wrapper,
.started-wrapper,
.footer-wrapper {
  display: flex;
  justify-content: center;

  box-sizing: border-box;

  width: 100%;
}

#canvas {
  position: absolute;
  top: -36.5rem;
  left: -50%;
  z-index: -1;

  width: 200%;
  height: 60.625rem;

  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
  transform: rotate(-10deg);
}

.hero p {
  max-width: 30rem;
}

.hero img {
  height: 40rem;

  transform: translate(2rem, -4.25rem);
}

.hero > .col-right {
  align-items: flex-end;
}

.hero > .col-left > .two-column {
  margin: var(--spacing-md) 0 0 0;
}

.hero > .col-left > .two-column > button:nth-of-type(1) {
  margin-right: var(--spacing-md);
}

.partners {
  display: grid;
  row-gap: var(--spacing-lg);
  column-gap: var(--spacing-md);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));

  margin: var(--spacing-md) 0 var(--spacing-xl) 0;
}

.partners img {
  height: 3.75rem;
  place-self: center;
}

.platform-wrapper,
.graphics-wrapper {
  background-color: var(--bg-light);
}

.platform {
  padding: var(--spacing-xl) 0;
}

.platform h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.platform button {
  margin: var(--spacing-md) 0;
}

.graphics {
  display: grid;
  grid-gap: var(--spacing-lg);
  grid-template-areas:
    "card invoice invoice"
    "phone invoice invoice"
    "phone dashboard dashboard";

  padding: var(--spacing-lg) 0;
}

.graphics img {
  width: 100%;
  box-shadow: var(--standard-shadow);
}

.graphics img:nth-of-type(1) {
  grid-area: card;
}

.graphics img:nth-of-type(2) {
  grid-area: invoice;
}

.graphics img:nth-of-type(3) {
  grid-area: phone;
}

.graphics img:nth-of-type(4) {
  grid-area: dashboard;
}

.engineers-wrapper::before,
.engineers-wrapper::after,
.global-wrapper::before,
.global-wrapper::after {
  content: "";
  display: block;

  position: absolute;
  top: -2rem;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: var(--primary-accent);
  transform: skewY(-10deg);
}

.engineers-wrapper::before {
  top: 0;
  left: 0;

  height: 50%;

  background-color: var(--bg-light);
  transform: none;
}

.engineers-wrapper,
.global-wrapper {
  position: relative;
  z-index: 1;

  padding: calc(var(--spacing-xl) * 3) 0;

  color: var(--text-light);
}

.engineers .card {
  width: 50%;
}

.engineers > .col-right > img {
  margin: var(--spacing-sm) 0;

  max-width: 29.375rem;

  border-radius: var(--standard-radius);
}

.why-wrapper {
  padding: calc(var(--spacing-xl) * 2 + var(--spacing-md)) 0;
}

.why .card,
.global .card {
  width: 25%;
}

.why .card,
.global .card,
.started .card {
  padding-right: var(--spacing-sm);
  margin-right: var(--spacing-md);
}

.why .secondary-text {
  color: var(--text-dark);
}

.global-wrapper {
  padding-bottom: 0;
}

.global-wrapper::after {
  top: initial;
  bottom: 0;

  height: 50%;

  transform: skewY(0);
}

.global h3 {
  border-left: 0.125rem solid var(--blue-1);
  padding-left: var(--spacing-sm);

  line-height: 1.75rem;
}

.global .card-container {
  margin: calc(var(--spacing-xl) * 2) 0;
}

.global a {
  color: var(--blue-1);
}

.global a:hover {
  color: var(--text-light);
}

.global img {
  position: absolute;
  top: 7.5%;

  max-width: 55.25rem;

  opacity: 0.25;
}

.events-wrapper {
  position: relative;
  z-index: 1;
}

.events-wrapper::before {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: var(--bg-white);
}

.events {
  padding: calc(var(--spacing-xl) * 2) 0;
}

.events.two-column {
  align-items: center;
}

.events .col-left {
  padding-right: var(--spacing-xl);
}

.events .col-right {
  padding: 0;
  margin-left: var(--spacing-md);

  width: 33.75rem;
  height: 27.875rem;

  overflow: hidden;
  box-shadow: var(--standard-shadow);
  border-radius: var(--standard-radius);
}

.events .card-top,
.events .card-bottom {
  height: 50%;
}

.events .card-top {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.events .card-top::before {
  content: "";
  display: block;

  position: absolute;
  top: -40%;
  z-index: -1;

  width: 100%;
  height: 150%;

  background-image: var(--primary-gradient);
  transform: skewY(-5deg);
}

.events #swipe-sessions {
  width: 21.125rem;
}

.events .avatars {
  position: absolute;
  left: var(--spacing-xl);
  bottom: -4.375rem;
}

.events .avatars img {
  width: 5rem;
}

.events .avatars img:nth-of-type(2) {
  position: absolute;
  left: 3.75rem;
}

.events .card-bottom {
  box-sizing: border-box;
  padding: calc(var(--spacing-xl) + var(--spacing-md)) 0 0 var(--spacing-xl);
}

.events .card-bottom .secondary-text {
  box-sizing: border-box;
  padding-right: var(--spacing-md);

  width: 50%;

  color: var(--text-dark);
  font-weight: 700;
}

.started {
  padding: var(--spacing-xl) 0;
}

.started .col-left {
  padding-right: var(--spacing-xl);
}

.started .card-container {
  flex-direction: row;

  margin: 0;
}

.started .card {
  width: 50%;
}

.footer-wrapper {
  padding: var(--spacing-xl) 0;

  background-color: var(--bg-light);
}

#footer-logo {
  margin-bottom: var(--spacing-md);

  max-width: 6.75rem;
}

@media only screen and (max-width: 1144px) {
  :root {
    --h1-size: 4rem;
    --h1-lheight: 4.5rem;
    --h2-size: 2.125rem;
  }

  [class$="wrapper"] {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}

@media only screen and (max-width: 950px) {
  .engineers .col-left,
  .events .col-left {
    width: 60%;
  }

  .engineers .col-right,
  .events .col-right {
    justify-content: center;

    width: 40%;
  }

  .events .col-left {
    padding-right: var(--spacing-lg);
  }

  .events .col-right {
    height: 21.875rem;
  }

  .events .card-top {
    height: 40%;
  }

  .events #swipe-sessions {
    width: 15.625rem;
  }

  .events .card-bottom {
    padding: var(--spacing-xl) 0 0 var(--spacing-lg);
  }

  .events .card-bottom .secondary-text {
    width: 100%;
  }

  .started .col-left {
    padding-right: var(--spacing-lg);
  }
}

@media only screen and (max-width: 767px) {
  .two-column {
    flex-direction: column;
  }

  h2,
  .platform h2,
  .two-column > .col-left,
  .two-column > .col-right {
    padding: 0;

    width: 100%;
  }

  .partners img {
    width: 100%;
    height: auto;
  }

  .engineers .card-container,
  .why .card-container,
  .global .card-container,
  .started .card-container {
    flex-wrap: wrap;
  }

  .engineers .card,
  .why .card,
  .global .card,
  .started .card {
    margin: 0;
    padding-right: var(--spacing-lg);

    width: 50%;
  }

  .card:nth-of-type(even) {
    padding-right: 0;
  }

  .card img {
    height: 2.6563rem;
  }

  .engineers .col-right {
    display: none;
  }

  .global img {
    opacity: 0.1;
  }

  .events .col-right {
    width: 75%;
  }
}

@media only screen and (max-width: 550px) {
  .partners {
    grid-template-columns: repeat(2, 1fr);
  }

  .engineers .card,
  .why .card,
  .global .card,
  .started .card {
    /* margin-bottom: var(--spacing-sm); */
    padding: 0;

    width: 100%;
  }

  .card img {
    height: 2.1875rem;
  }

  .events .col-right {
    margin-left: 0;

    width: 100%;
  }

  /* .events .card-bottom .secondary-text {
    width: 100%;
  } */
}

/* .events #swipe-sessions {
  width: 21.125rem;
} */
